
.block{
    background: #b9bbbe;
    min-height: 150px;
}
.col-20{
    flex: 0 0 20%;
    max-width: 20%;
}
.block_1{
    min-height: 250px;
}
.block_2{
    min-height: 62px;
    background: #b9bbbe;
}